import init.bowser-common.rc
import init.omap4.rc
import init.bowser.usb.rc

#conditional start RIL for non-wifi devices
service ril_cond_start /system/bin/wankit cond_start_ril
    class main
    oneshot


